@import "./variables.module.scss";
@import "./mixins.scss";
@import "./login.scss";
@import "./sidebar.scss";
@import "./details.aside.scss";
@import "./details.header.scss";
@import "./details.scss";
@import "./notes.scss";
@import "./backlog.scss";
@import "./features.scss";
@import "./profile.scss";
@import "./tasks.scss";
@import "./ideas.scss";
@import "./modals.scss";
@import "./todo.scss";
@import "./landingpage.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  max-width: 100% !important;
  max-height: 100% !important;
  background: $background;
  color: $text-color !important;
  font-family: "Poppins", sans-serif;
}

div {
  color: $text-color !important;
}
button,
input {
  border: none;
  outline: none;
  background: transparent;
}

a {
  text-decoration: none;
  color: var(--gray);
  cursor: pointer;
  transition: 0.3s;
}

button {
  cursor: pointer;
  transition: 0.3s;
  opacity: 0.8;
  border-radius: 0.5rem;
}
#mainlayout {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;

  display: grid;
  grid-template-columns: 1fr 1fr;
}

.dropdown-menu button {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-left: 0.5rem;
  padding-right: 1rem;
  border: none;
  background: transparent;
  color: white;
  display: block;
  width: 100%;
}
.dropdown-menu button:hover {
  background: var(--gray);
}

.maincontent {
  box-sizing: border-box;
  width: calc(100vw - $sidebar-width);
}

#details {
  display: flex;
}

#details main {
  width: 70%;
}
.divider {
  border-top: 1px solid $text-color;
  opacity: 0.2;
  margin-left: 2rem;
  margin-right: 2rem;
}

.err {
  color: $error-color;
}

[contenteditable] {
  outline: 0px solid transparent;
}

.editable {
  display: block;
  width: 100%;
  padding: 0.5rem 0.2rem;

  article,
  input,
  textarea {
    display: block;
    width: 100%;
    height: 100%;
    background-color: inherit;
    border: none;
    outline: none;
    margin: 0;
  }

  &:hover,
  &:focus-within {
    background: rgba(0, 0, 0, 0.4);
  }
}

.ant-tabs-ink-bar {
  background-color: transparent;
}

#add-technology-input {
  width: 5rem;
  background: "transparent";
  border: "1px solid gray";
  color: "white";

  border-radius: 0.2rem;
  display: inline-block;

  &:focus {
    outline: 2px ridge $primary-darker;
  }
}

#__next {
  height: 100%;
  padding: 0;
  margin: 0;
}

#loading {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  svg {
    animation: loading 3s;
    animation-iteration-count: infinite;
  }
}

@keyframes loading {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#contactus {
  background-color: black;
  height: 100%;

  header {
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    padding-top: 3rem;
  }

  form, .wrapper {
    max-width: 25rem;
    margin: auto;
  }

  .wrapper {
    max-width: $landing-page-width;
    
    .article {
      padding-top: 1rem;
      font-size: 1.5rem;
    }
  }

  input,
  textarea {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid $text-color;
    margin-top: 1rem;
    width: 100%;
    padding: 1rem;
    outline: none;
  }

  button {
    background-color: white;
    color: black;
    width: 100%;
    border-radius: 1rem;
    text-align: center;
    margin-top: 1rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;

    &:hover {
      opacity: 0.7;
    }
  }
}

#notfound {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;

  .content {
    background: black;
    padding: 2rem;
    border-radius: 1rem;

    width: 70%;
    max-width: 96rem;

    h1 {
      color: white;
      font-weight: bold;
      font-size: 2rem;
    }

    svg {
      max-width: 50%;
      height: auto;
    }
  }
}