$primary-lighter: #81d4fa;
$primary-light: #4fc3f7;
$primary: #29b6f6;
$primary-dark: #03a9f4;
$primary-darker: #039be5;

$secondary-lighter: #80cbc4;
$secondary-light: #4db6ac;
$secondary: #26a69a;
$secondary-dark: #009688;
$secondary-darker: #00897b;

$grey-lighter: #cad8e7;
$grey-light: #84a3c8;
$grey: #6189b8;
$grey-dark: #476f9e;
$grey-darker: #37577b;

$background: #1c1d1f;
$text-color: #b1b1b1;
$error-color: red;

$sidebar-width: 12rem;